{% extends 'layout.html'%}

{% block content %}

<h1 class="margin-space align-text">Annales Brevet 2019</h1>
<hr><br>

    <div class="years">
    <div class="years-in">
    <a href="{{ url_for('main.region', file_name= 'SUJET - PC + SVT (Métropole) 2019.pdf') }}"> Métropole 2019 Juillet (PC + SVT)</a>
<hr>
    <a href="{{ url_for('main.region', file_name= 'SUJET - PC + SVT (Métropole) 2019 Septembre.pdf') }}">Métropole 2019 Septembre (PC + SVT)</a>
    <hr>
    <a href="{{ url_for('main.region', file_name= 'SUJET - PC + SVT (Métropole) 2019 Septembre.pdf') }}">Centres Étrangers 2019 Juin (PC + SVT)</a>
    <hr>
    <a href="{{ url_for('main.region', file_name= 'SUJET - PC + SVT (Amérique du Nord) 2019.pdf') }}">Amérique du Nord 2019 Juin (PC + SVT)</a>
    <hr>
    <a href="{{ url_for('main.region', file_name= 'SUJET - SVT + Techno (polynésie Française) 2019.pdf') }}">Polynésie 2019 Juillet (SVT + Technologie)</a>
    <hr>
     <a href="{{ url_for('main.region', file_name= 'SUJET - SVT + Techno (polynésie Française) 2019 Septembre.pdf') }}"> Polynésie 2019 Septembre (SVT + Technologie)</a>
   <hr>
    <a href="{{ url_for('main.region', file_name= 'SUJET - PC +SVT (Pondichéry) 2019.pdf') }}"> Pondichéry 2019 Juin (PC + SVT)</a>
    <hr>
    <a href="{{ url_for('main.region', file_name= 'SUJET - Techno (Nouvelle Calédonie) 2019.pdf') }}"> Nouvelle Calédonie 2019 Décembre (Technologie)</a>
   <hr>
    <a href="{{ url_for('main.region', file_name= 'SUJET - PC + SVT (Antilles-Guyane) 2019.pdf') }}">  Antilles-Guyane 2019 Juin (PC + SVT)</a>
   <hr>
    <a href="{{ url_for('main.region', file_name= 'SUJET - PC + SVT (Asie Pacifique) 2019.pdf') }}">  Asie Pacifique 2019 Juin (PC + SVT)</a>
    </div>
    </div>

{% endblock content %}
