{% extends 'layout.html' %}

{% block content %}

    <h1 class="margin-space align-text">Bonjour les 3èmes!</h1>
    <hr>
    <p class="margin-space">
        Je suis élève de Terminale du Lycée Français de Barcelone qui, comme vous, avait eu du mal à trouver
        tous les sujets des examens du brevet de sciences dans un seul endroit. J'ai donc décidé de construire ce site
        pour vous aider!<br>
        Si vous voulez proposer une correction, ne doutez pas à me le faire savoir!
        </p>

<div>
    <a class="margin-space" href = "mailto: annales.sciences.brevet@gmail.com">annales.sciences.brevet@gmail.com</a>

    <div class="margin-space">
        <a href="{{ url_for('main.brevet_years') }}"<button type="button" class="btn btn-primary btn-lg btn-block" ><h3>Annales Brevet Sciences</h3></button></a>
        <a href="{{ url_for('main.version_complete') }}"<button type="button" class="btn btn-secondary btn-lg btn-block"><h3>Version Complète</h3></button></a>
</div>


{% endblock content %}
