{% extends 'layout.html'%}

{% block content %}
<h1 class="margin-space align-text">Version Complète</h1>
    <hr>
    <div class="margin-space">
    <p> Si vous souhaitez avoir l'intégralité des sujets des Brevet de science 2018 et 2019, cliquez sur le lien ci-dessous pour y avoir accès par Google Drive
<br>

    </div>
        <div class="margin-space">
<a target="_blank" href="https://drive.google.com/drive/folders/1ofdPKALwEpY3dmvXdQr8H-csToxy6IN2?usp=sharing">   <button type="button" class="btn btn-primary btn-lg btn-block" ><h3> Lien vers tous les sujets (Google Drive)</h3></button></a>
        </div>

{% endblock content %}